@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
  background: grey;  
  height: 100vh;
}

img {
height: 200px;
width: 200px;
padding: 20px;
}

.intro h1 , .intro h6{
    
    font-family: "Itim", sans-serif;
    color: white;
    text-align: center;
    padding: 10px 150px 10px 150px;
}

.intro h1 {
    font-size: 90px;
    color: lightgray;
}

.intro h6 {
    font-size: 30px;
}

.flowerrow1 {
    padding-top: 30px;
}

.flowerrow2 {
    padding-bottom: 60px;
}

.rotate {
  transform: rotate(30deg);
}

.rotateAgain {
  transform: rotate(-30deg);
}

