/* -------------------------- General----------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


body {
    background: grey;
    width: 100%;

}


/* -------------------------- Header ----------------------------------- */

.headerbackground {
    background-color: darkgrey;

}

.menuitem h5 {
    color: darkgrey !important;
}

.menuitem:hover {
    text-decoration: none;
}

.menuitem h5:hover {
    color: fuchsia !important;
}

/* -------------------------- Index Section ----------------------------------- */
body {
    font-family: "Itim", sans-serif;
    color: white;
    text-align: center;

}

.intro h1,
.intro h6 {

    padding: 1vw 5vw;
}

.intro h1 {
    font-size: 12vw;
    color: lightgray;
}

.intro h6 {
    font-size: 7vw;
}

.numbercolour {
    color: blue;
}

#startbutton {
    margin-top: 4vw;
    background-color: white;
    font-size: 7vw;
    font-family: "Itim", sans-serif;
    color: black;
    text-align: center;
    padding: 1vw 15vw;
    border-radius: 200px;
}

.startButtonPressed {
    background-color: red !important;
}


img {
    height: 23vw;
    width: 23vw;
    padding: 1vw;
}


/* This is the class that will make the flowers invert colour  */

.flash {
    animation-name: invertColour;
    animation-duration: 0.5s;
}


@keyframes invertColour {
    from {
        filter: invert(0%);
    }

    to {
        filter: invert(100%);
    }
}

.score {
    margin-top: 2vw;

}

.stings,
.level,
#stingscount,
.levelcount {
    font-size: 7vw;
    display: inline;
    padding: 0 2vw;
}

#stingscount,
.levelcount {
    color: darkred;
}

.topscorerow {
    margin-top: 3vw;
    margin-bottom: 3vw;

}

.topscore,
#topscorecount {
    display: inline;
    font-size: 5vw;
    padding: 0 2vw;
}

#topscorecount {

    color: darkblue;
}

/* -------------------------- Contact Section ----------------------------------- */


form {
    margin-bottom: 5vw;
    font-size: 4vw;
    width: 80%;
}


/* -------------------------- Responsive Design ----------------------------------- */

@media screen and (min-width: 1200px) {
    .intro h1 {
        font-size: 7vw;
    }

    .intro h6 {
        font-size: 3vw;
    }

    img {
        height: 13vw;
        width: 13vw;
    }

    .flowerrow1 {
        padding-top: 1vw;
    }

    .flowerrow3 {
        padding-bottom: 1vw;
    }

    #startbutton {
        margin-top: 1vw;
        font-size: 3vw;
        padding: 1vw 15vw;
    }

    .stings,
    .level,
    #stingscount,
    .levelcount {
        font-size: 3vw;
    }

    .topscore,
    .topscorecount {

        font-size: 3vw;
    }

    form {
        margin-bottom: 5vw;
        font-size: 2vw;
        width: 60%;
    }

    .btn {
        font-size: 1.5vw;
    }
}